body {
	min-width: 1292px;
	background-color: #777777;
}

table {
	color: white;
	width: 100%;
	background-color: #444444;
	border-radius: 0 15px 0 0;
	direction: ltr;
	margin-bottom: 20px;
}

thead {
	background-color: black;
}

h1 {
	text-align: center;
	background-color: black;
	color: white;
	border-radius: 0 0 15px 15px;
	font-size: 3em;
}

input {
	text-align: center;
	display: block;
	margin: 0 auto;
	}

p {
	text-align: center;
	font-size: 22px;
}

th {
	color: #DB7A06;
}


a:hover {
	background-color: #DB7A06;
}

.icon {
	width: 1em;
	height: 1em;
}

button {
	font-size: 18px;
	color: white;
	/*box-shadow: inset 0px 0px 2px 0px black;*/
	border-radius: 15px;
	background-color: #DB7A06;
	width: 100%;
	height: 30px;
}


#outerFlexbox2::-webkit-scrollbar {
	width: 12px
}

#outerFlexbox2::-webkit-scrollbar-track {
	background: white;
}

#outerFlexbox2::-webkit-scrollbar-thumb {
	background: #DB7A06;
}

#outerFlexbox2::-webkit-scrollbar-button {
	background: black;
}

#mainFlexbox {
	display: flex;
	flex-direction: row;
	background-color: #444444;
	margin: 30px 0;
	border-radius: 15px 15px 0 0;
	height: 500px;
}

#outerFlexbox1 {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: #444444;
	border-radius: 15px 0 0 0;
	border-right: 5px solid black;
}

#outerFlexbox2 {
	display: flex;
	flex: 3;
	background-color: #444444;
	border-radius: 0 15px 0 0;
	overflow-x: hidden;
	overflow-y: scroll;
	direction: rtl;
}

#inbox1 {
	flex: 1;
	margin: 60px 0px 10px 0px;
	padding: 0px 70px;
}

#inbox2 {
	flex: 1;
	margin: 0px 0px 70px 0px;
}

#inbox3 {
	flex: 1;
	margin: 20px 0px 10px 0px;
	padding: 0px 70px;
}

#inbox4 {
	flex: 1;
	margin: 0px 0px 10px 0px;
}

#inbox5 {
	flex: 1;
	color: hsl(33, 95%, 44%);
}

#getAllButton {
	padding: 0 550px;
}

#edge {
	border-radius: 0 15px 0 0;
}

@keyframes fadeout {
	from {opacity: 100%;}
	to {opacity: 0%;}
  }


#message {
	position: absolute;
	left: 50%; 
	top: 50%;
	z-index: 100; 
	background-color:#DB7A06; 
	animation-name: fadeout; 
	animation-duration: 3s;
}